assets/notes.dtd

<!DOCTYPE notes [
<!ELEMENT notes (note+) #REQUIRED>
<!ELEMENT note (noteItem+)>
<!ATTLIST note noteId PCDATA #REQUIRED>
<!ATTLIST note isParagraphNote PCDATA #REQUIRED>
<!ATTLIST note creationTime PCDATA #REQUIRED>
<!ATTLIST note lastEditedTime PCDATA #REQUIRED>
<!ELEMENT noteItem (data, imageName)>
<!ELEMENT data PCDATA #REQUIRED>
<!ELEMENT imageName PCDATA #REQUIRED>
]>
