assets/notes.dtd

<!DOCTYPE notes [
<!ELEMENT notes (note+) #REQUIRED>
<!ELEMENT note (noteItem+)>
<!ATTLIST note isParagraphNote PCDATA #REQUIRED>
<!ATTLIST note creationTime PCDATA #REQUIRED>
<!ATTLIST note lastEditedTime PCDATA #REQUIRED>
<!ELEMENT noteItem (data,isAlarm,isImportant)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT isAlarm (#PCDATA)>
<!ELEMENT isImportant (#PCDATA)>
]>
