assets/notes.dtd

<!DOCTYPE notes [
<!ELEMENT notes (note+) #REQUIRED>
<!ELEMENT note (noteItem+)>
<!ATTLIST note isParagraphNote PCDATA #REQUIRED>
<!ATTLIST note creationTime PCDATA #REQUIRED>
<!ATTLIST note lastEditedTime PCDATA #REQUIRED>
<!ELEMENT noteItem (data, imageName)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT imageName (#PCDATA)>
]>
